*{
	font-family: 'Nixie One', cursive;
}
#home{
	background-image: url(../assets/dh.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 500px;
}
.overlay{
	height: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)repeat;
}
.ovr{
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
li{
	list-style: none !important;
}
a{
	text-decoration: none !important;
}


.map{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)repeat;
   position:relative; 
   width:100%;
   height:250px; 
   top:250px;  
   margin-top:-250px; 
}












